.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  img {
    max-width: 100%;
  }
  
  .button {
    border: 2px solid black;
    color: #007bff;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }
  
  