.banner{
    background-color: #357cc2;
    padding: 0;
    margin: 0;
    height: 30px;
}

.menu_item {
  background-color: transparent;
  border: none;
  color: rgb(163, 163, 163) !important; /*opcional, para darle color al texto del botón*/
}

.menu_item:hover{
  color: rgb(204, 204, 204) !important;
  cursor: pointer;
}