<div class="banner fixed-top"></div>

<div class="bg-dark">
    <div class="container">
        <!-- Aqui ira el nav -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4">
            <div class="container-fluid">
                <a class="navbar-brand" [routerLink]="['home']">
                    <img width="30%" alt="Diplomado" [src]="logo" /> Diplomado
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Directivas
                            </a>
                            <ul class="dropdown-menu">
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['home']">Home</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngIf']">NgIf</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngFor']">NgFor</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngSwith']">NgSwitch</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/binding']">BinDing</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngStyle']">NgStyle</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngClass']">NgClass</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/ngModel']">NgModel</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['directivas/piPes']">PiPes</a>
                                </li>
                            </ul>
                        </li>
                        <button [routerLink]="[pets+'/listar']" role="button" >Mascotas</button>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>