<div class="d-flex p-2 m-5"></div>
<div class="container">
    <ng-container *ngIf="!mascota; else divMascota">
        <div class="alert alert-warning" role="alert">
            No hay datos para mostrar
        </div>
    </ng-container>
    <ng-template #divMascota>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50">
                <h1>
                    <strong>Raza: {{ mascota.raza }}</strong>
                    <small> / de {{ mascota.origen }}</small>
                </h1>
                <br />
                <img class="img" [src]="mascota.img" alt="" />
            </div>
            <div fxFlex="50">
                <h1>
                    {{ mascota.peso }} <small> / Guardian: {{ mascota.guardian }}</small>
                </h1>
                <br />
                <P>{{ mascota.des }}</P>
                <P>{{ mascota.salud }}</P>
                <P>{{ mascota.ejercicio }}</P>
                <P>{{ mascota.nutricion }}</P>
                <br>
                <button mat-button class="btn btn-primary m-2" (click)="regresar()"><i class="bi bi-backspace"></i> Regresar</button>
                <button style="border: 0; background-color: transparent;"><app-nuevo [leyenda]="'Editar'" [mascota]="mascota"></app-nuevo></button>
                <button mat-button class="btn btn-danger m-2" (click)="eliminar()"><i class="bi bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </ng-template>
</div>
<div class="d-flex p-2 m-5"></div>